.path {
  background-color: #2ecc71;
}
#start {
  background-color: #f1c40f;
}
#end {
  background-color: #c0392b;
}
.wall {
  background-color: #2c3e50;
}
td {
  background-color: blue;
  width: 50px;
  height: 50px;
}
table {
    border-collapse: collapse;

    empty-cells: show;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
